<div mat-dialog-content>
  <p *ngIf="!isModify">Create new furniture</p>
  <p *ngIf="isModify">Update new furniture</p>
  <form [formGroup]="furnitureForm" (ngSubmit)="onSaveClick()">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category.id">{{category.title}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelClick()">Cancel</button>
      <button mat-button [disabled]="!furnitureForm.valid" cdkFocusInitial type="submit">Save</button>
    </div>
  </form>
</div>
